body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
pre {
  font-family: 'Courier New', Courier, monospace;
}
article > details > summary {
  font-size: 20px;
  margin-top: 16px;
}
details > p {
  margin-left: 24px;
}
details details {
  margin-left: 36px;
}
details details summary {
  margin-top: 10px;
  font-size: 16px;
}
